<h2>Detail</h2>
<div *ngIf="produit">
    <table>
        <tr>
            <th>
                <img src="data:image/png;base64, {{produit.image}}" width="400" height="400">
            </th>
            <th>
                <p>{{produit.name}} - {{produit.description}}</p>
                <p>Type de sirop : {{produit.type}}</p>
                <p>Reste en stock: {{produit.maxQty}}</p>
                <p>{{produit.price}}$ CAD</p>
                <button mat-raised-button>Ajouter au panier</button>
            </th>
        </tr>
    </table>
</div>